* {
    margin: 0;
    padding: 0;
}

/* HEADER *************************************************************************************/

header {
    width: 100%;
    height: 12vh;
    background-color: #444;
}

#login {
    text-align: center;
    color: #fff;
    background-color: green;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 1rem;
}

nav ul li {
    float: right;
    padding: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#logout-submit {
    padding: 10px;
    background-color: yellow;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

#login-form {
    float: right;
    padding: 1rem;
}

#login-form input, button {
    padding: 10px;
}

#login-form input {
    width: 10rem;
}

#login-form button {
    background-color: green;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}


/* INDEX *************************************************************************************/

#index-wrapper {
    margin-top: 10%;
    width: 225px;
    position: absolute;
    margin-left: 50%;
    left: -132.5px;
    background: #444;
    padding: 1rem;
}

.alert-error {
    color: #fff;
    text-align: center;
    background-color: red;
    padding: 7px;
}

.alert-success {
    color: #fff;
    text-align: center;
    background-color: green;
    padding: 7px;
}

#signup-form input, button {
    margin: 1rem;
    padding: 0.5rem;
}

#signup-form button {
    width: 190px;
    background-color: green;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

/* FOOTER *************************************************************************************/

footer {
    width: 100%;
    height: 6vh;
    line-height: 50px;
    text-align: center;
    background-color: #444;
    color: #fff;
}

/* COMMON *************************************************************************************/

main {
    min-height: 82vh;
    background-color: black;
}

.white {
    color: #fff;
}